*{
	margin:0; padding: 0;
	box-sizing: border-box;
	text-transform: capitalize;
	text-decoration: none;
	font-family: Arial, Helverica, sans-serif;
	transition: all 0.4s cubic-bezier(0,1.57,.67,1.18);
}
.box-container1{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	background: #ccc;
	margin-top: 100px;
}
.box1{
	flex: 1 1 300px;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, .3);
	position: relative;
	overflow: hidden;
	margin: 20px;
}
.box1 .image1{
	padding: 10px;
	background: #eee;
	text-align: center;
}
.box1 .image1 img{
	height: 200px;
	width: 250px;
	object-fit: cover;
	filter: drop-shadow(0 3px 5px rgba(0, 0, 0, .7));
}
.box1 .info .title1{
	padding: 10px;
	color: #666;
	font-size: 20px;
}
.box1 .info .subinfo{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 10px;
}
.box1 .info .subinfo .price1{
	color: #ff3300;
	font-size: 20px;
}
.box1 .overlay{
	position: absolute;
	top: 0; left: 0;
	height: 223px;
	width: 100%;
	background: rgba(0, 0, 0, .3);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: none;
	transform: scale(0);
}
.box1:hover .overlay{
	transform: scale(1);
}
.box1 .overlay a{
	color: #666;
	background: #fff;
	margin: 10px;
	padding: 13px 15px;
	font-size: 25px;
	transform: translateY(-150px);
	transition-property: transform;
	transition-delay: calc(.1s * var(--1));
}
.box1 .overlay a:hover{
	color: red;
}
.box1:hover .overlay a{
	transform: translateY(0px);
}